.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a7d7d9;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 365px;
    max-width: 92%;
    z-index: 2;
}

.buttonContainer {
    position: absolute;
    top: 611px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}