.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 352px;
    height: 80px;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-top: 40px;
}

.comp1 {
    display: flex;
    flex-direction: row;
    margin: 18px 0 18px 0;
}

.text1 {
    font-size: 20px;
    font-weight: 700;
}

.room {
    width: 352px;
    height: 92px;
    background-color: #F8F8F8;
    border-radius: 20px;
}