.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.main__card {
    width: 350px;
    height: 322px;
    position: relative;
    background-color: #FFF7D7 ;
    border-radius: 30px;
    margin-top: 21px;
}

.card__text1 {
    font-size: 30px;
    color: #34220F;
    margin-left: 23px;
    margin-top: 21px;
    font-weight: bold;
}

.card__text2 {
    font-size: 15px;
    color: #6B5237;
    margin-left: 23px;
    margin-top: 12px;
}

.card__pic {
    margin-top: 12px;
    margin-left: 21px;
    border-radius: 30px;
    width: 312px;
    height: 103px;
}

.item {
    text-decoration: none;
}

.card__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
    height: 47px;
    position: relative;
    background-color: #FF3C01 ;
    border-radius: 30px;
    margin-top: 12px;
    margin-left: 21px;
    cursor: pointer;
}

.card__text3 {
    font-size: 15px;
    color: #FFF7D7;
    margin-left: 20px;
    font-weight: 650;
}

.card__arrow {
    margin-right: 23px;
}

.searchBar {
    width: 350px;
    height: 51px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #FFF7D7;
    position: relative;
    margin-top: 35px;
    justify-content: flex-start;
}

.searchBar__input {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #6B5237;
    width: 100%;
    margin-right: 17px;
}

.searchBar__icon {
    width: 18px;
    height: 17px;
}

.searchBar__iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 23px;
    margin-right: 16px;
    padding: 0;
    width: 18px;
    height: 17px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.searchBar__input:focus {
    outline: none;
}

/* searchBar에서 엑스 색을 바꾸는 것임!!*/ 
.searchBar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    filter: grayscale(1) opacity(0.6);
    cursor: pointer;
}

.cardsContainer {
    display: flex;
    gap: 10px;
}

.recco {
    display: flex;
    justify-content: space-between;
    width: 175px;
    height: 198px;
    position: relative;
    background-color:#007931 ;
    border-radius: 30px;
    margin-top: 17px;
    cursor: pointer;
}

.recco__text {
    font-size: 30px;
    color:#FFF7D7;
    margin-top: 32px;
    margin-left: 19px;
    font-weight: 700;
}

.recco__img {
    width: 90px;
    height: 86px;
    position: absolute;
    bottom: 12px;
    right: 7px;
}

.style {
    width: 175px;
    height: 97px;
    background-color:#FF3C01;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    position: relative; 
}

.style__text {
    font-size: 25px;
    font-weight: 700;
    color: #EDFED8;
    margin-top: 18px;
    margin-left: 20px;
}

.pic2 {
    margin-top: 5px;
}

.popular {
    position: relative;
    width: 359px;
    height: 217px;
    margin-top: 17px;
}

.pic3 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular__text {
    position: absolute;
    top: 15px;
    left: 18px;
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.popular__button {
    width: 99px;
    height: 24px;
    display: flex;
    justify-content: conter;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 23px;
    background-color:#FF3C01;
    border-radius: 30px;
    cursor: pointer;
}

.popular__arrow {
    width: 72px;
    height: 13px;
    margin-left: 14px;
}

.copyright {
    margin-top: 18px;
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-bottom: 134px;
}
