.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__card {
    width: 350px;
    height: 322px;
    position: relative;
    background-color: #FFF7D7 ;
    border-radius: 30px;
    margin-top: 21px;
}

.card__text1 {
    font-size: 30px;
    color: #34220F;
    margin-left: 23px;
    margin-top: 21px;
    font-weight: bold;
}

.card__text2 {
    font-size: 15px;
    color: #6B5237;
    margin-left: 23px;
    margin-top: 12px;
}

.card__pic {
    margin-top: 12px;
    margin-left: 21px;
    border-radius: 30px;
    width: 312px;
    height: 103px;
}

.card__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
    height: 47px;
    position: relative;
    background-color: #FF3C01 ;
    border-radius: 30px;
    margin-top: 12px;
    margin-left: 21px;
    cursor: pointer;
}

.card__text3 {
    font-size: 15px;
    color: #FFF7D7;
    margin-left: 20px;
}

.card__arrow {
    margin-right: 23px;
}