@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.navbar {
    position: absolute;
    width: 393px;
    left: 50%;
    bottom: 38px;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 334px;
    height: 75px;
    box-sizing: border-box;
    
    background-color: #FFF7D7;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.link {
    text-decoration: none;
}

.icon_box {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.icon {
    width: 24px;
    height: 24px;
    background-color: #111111;

    mask-size: contain; 
    mask-position: center;
    mask-repeat: no-repeat;
    
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.icon_text {
    font-family: 'Roboto Mono';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #111111;
}

.icon_box.active {
    background-color: #FF3C01;
}

.icon_box.active .icon {
    background-color: #FFF7D7;
}

.icon_box.active .icon_text {
    color: #FFF7D7;
}