.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 21px 0 21px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 0 0 70px;
}

.groupName {
    font-size: 20px;
    font-weight: 600;

}

.groupNum {
    font-size: 17px;
    color: #454545;
}

.group2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.arrow {
    cursor: pointer;
}