.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}